<!DOCTYPE html>
{% load static from staticfiles %}
<html>

<head>
  <title>LuckyLotto</title>
  <meta name="description" content="Lotto">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <nav id="overlay">
      <img src="{% static 'icon.png' %}" class="close-btn" id="close-menu">
    <ul>
      <li ><a href="{% url 'webs:home' %}">Home</a><span>Hier gelangst du zur Startseite</span></li>
      <li ><a href="{% url 'webs:lotto' %}">Login</a><span>Hier kannst du dich einloggen</span></li>
      <li ><a href="{% url 'webs:register' %}">Registrieren</a><span>Bist du neu bei uns?<br>Registriere dich jetzt</span></li>
      <li ><a href="{% url 'webs:about' %}">Über uns</a><span>Willst du etwas über uns erfahen?</span></li>
    </ul>
  </nav>

  <header>
    <a href="#" class="logo">LUCKY LOTTO</a>
    <img src="https://img.icons8.com/ios-glyphs/60/000000/menu.png" class="menu-btn" id="open-menu">
  </header>

  <section>
    <h4>About us</h4>
    <h3>Entwickler:</h3>
    <p class="txt"><strong>Front End(HTML/CSS/JS) - Sebastian Juschke</strong></p>
    <p class="txt"><strong>Back End(Python/Django) - Dmitri Petri</strong></p>
  </section>
  <p id="about-footer">© 2019 Lucky Lotto - All rights reserved.</p>
  <script src="{% static 'main.js' %}"></script>
</body>

</html>
